.allBox {
    margin-top: 150px;
  }
  .titleProject {
    text-align: center;
  }
  .imgProject {
    width: 100%;
    height: 400px;
    padding: 10px;
  }
  .boxProject {
    display: inline-block;
    background-color: #2e2e39aa;
    border-radius: 5px;
    padding: 15px;
    width: 45%; /* atualização para ajustar o tamanho para que duas caixas de projeto caibam em uma linha em telas maiores */
    margin: 0px 2.5% 50px; /* atualização da margem inferior para dar espaço suficiente para a próxima linha */
    border: 1px solid #0259bd;
  }
  .boxProject:hover {
    background-color: #464654aa;
    box-shadow: 5px 5px 5px #04204050;
  }
  .placeBox {
    width: 100%;
    margin-top: 100px;
    display: flex; /* atualização para ativar o modo flexbox */
    flex-wrap: wrap; /* atualização para permitir que os itens sejam quebrados em várias linhas */
    justify-content: center; /* atualização para centralizar os itens horizontalmente */
  }
  .placeBox .boxProject {
    margin: 0px 2.5% 50px; /* atualização da margem para dar espaço suficiente entre as caixas de projeto */
    width: 45%; /* atualização para ajustar o tamanho para que duas caixas de projeto caibam em uma linha em telas maiores */
  }

  @media (max-width: 700px) {
    .placeBox {
        width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .boxProject {
      margin: 20px 0;
    }
    .imgProject{
        height: 250px;
        padding: 1px;
    }
  }
  @media (max-width: 350px) {
    .placeBox {
        width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .boxProject {
        width: 650px;
      /* padding: 20px 20px 20px 20px; */
    }
    .imgProject{
        height: 250px;
        margin-bottom: 20px;
        padding: 1px;
    }
  }