.allBox {
    margin-top: 150px;
}
.titleProject {
    text-align: center;
}
.imgProject {
    width: 100%;
    height: 300px;
    padding: 10px;
}
.boxProject {
    display: inline-block;
    background-color: #2e2e39aa;
    padding: 15px;
    width: 35%;
    margin: 0px 20px 0px 9.5%;
    border: 1px solid #0259bd; ;
}
.boxProject:hover {
    background-color: #464654aa;
    box-shadow: 5px 5px 5px #0259bd50;;
}
.placeBox {
   width: 100%;
   margin-top: 150px;
}
.placeInfoProject {
    margin-left: 10px;
}