.allContato {
    margin-top: 150px;
}
.titleContact {
    text-align: center;
    margin-bottom: 50px;
}
.placeContact {
    width: 100%;
}
.contacts {
    text-align: center;
    display: inline-block;
    margin-left: 10%;
}
.iconContato {
    padding: 10px;
    border-radius: 100px;
    background-color: #2e2e39aa;
    margin-bottom: 10px;
    border: 1px solid #0259bd;
}
.iconContato:hover {
    background-color: #464654aa;
}
.nameContacts {
    font-size: 25px;
    font-weight:600;
}   
.linkContacts {
    margin-top: -15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
