.allSkills {
    margin-top: 150px;
}
.place{
    width: 100%;
    align-items: center;
    margin-top: 90px;
}
.Placeicon {
    display: inline-block;
    width: 7%;
    padding:20px 20px 20px 20px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #2e2e39aa;
    border-radius: 5px;
    border: 1px solid #040404b2;
}
.icon {
    width: 70px;
    height: 85px;
}
.TitleSkills {
    display: inline-block;
}
.pSkills {

}
