.App {
    height: 100%;
    width: 100%;
    background-color: #111115;
    color: #f5f5f5;
    font-family: 'Oswald', sans-serif;
}
.myHr {
    size: 10px;
    margin-left: 8%;
    height: 0px;
    margin-right: 5%;
    border: solid 2px rgb(3, 89, 189);
    background-color: rgb(3, 89, 189);
    box-shadow:-150px 50px 150px rgb(3, 89, 189);;
    cursor: pointer;
    padding: 0px;
    margin-top: 150px;
}
.myHr:hover  {
    transition: 1000ms;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: -100px;
    margin-top: 90px;
    border: solid 2px rgb(0, 113, 243);
    box-shadow: 10px 30px 100px rgb(66, 152, 251);
}