.allCert {
    margin-top: 100px;
  }
  
  .titleCert {
    text-align: center;
  }
  
  .placeCert {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  }
  
  .colCertL {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 0 2.5%;
  }
  .colCertR {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 0 2.5%;
  }
  
  .divCert {
    width: 100%;
    margin: 5px 0;
  }
  
  .btnCert {
    padding: 10px 30px;
    background-color: #0259bd9c;
    border: 1px solid #040b12;
    border-radius: 10px;
    color: rgb(22, 17, 17);
  }
  
  .btnCert:hover {
    background-color: #0259bd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.406);
  }
  
  
@media only screen and (max-width: 768px) {
    .placeCert {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .divCert {
      width: 45%;
      margin: 0.5%;
    }
  }