.allAbout {
    margin-top: 200px;
  }
  
  .titleAbout {
    text-align: center;
  }
  
  .placeAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .imgAbout {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-left: 50px;
  }
  
  
  
  .textAbout {
    width: 30%;
    font-size: 17px;
    margin: 0 10px;
  }
  
  @media screen and (max-width: 768px) {
  
    .textAbout {
      width: 50%;
      margin: 10px 0;
    }
  }
  @media screen and (max-width: 545px) {
    .imgAbout {
      width:80%;
      margin: 10px 0;
    }
  
    .textAbout {
      width: 50%;
      margin: 10px 0;
    }
  }
  @media screen and (max-width: 441px) {
    .imgAbout {
      width:90%;
      margin: 10px 0px 0px 30px;
    }
    .imgFace {
        width: 300px;
    }
  
    .textAbout {
      width: 50%;
      margin: 10px 0;
    }
  }
  @media screen and (max-width: 330px) {
    .imgAbout {
      width:70%;
      margin: 10px 0px 0px 30px;
    }
    .imgFace {
        width: 200px;
    }
  
    .textAbout {
      width: 50%;
      margin: 10px 0;
    }
  }
  @media screen and (max-width: 255px) {
   .imgFace {
    width:100%;
   }
  }
  